@font-face {
	font-family: ComfortaaBold;
	src: url(../fonts/Comfortaa-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: ComfortaaBold, sans-serif;
}

img {
	width: 20vh;
	border-radius: 30%;
}

@media screen and (min-width: 800px) {
	.body {
		width: 50vw;
		margin: auto;
		margin-top: 32px;
		border-radius: 16px;
		padding: 32px;
	}

	
	.header h1 {
		padding: 32px;
	}

	.links img {
		width: 32px;
		height: 32px;
	}

	.fa {
		font-size: 32px;
	}

}

@media screen and (orientation: portrait) {
	.content {
		padding: 16px;
	}

	.links img {
		width: 8vw;
		height: 8vw;
	}

	.fa {
		font-size: 8vw;
	}
}

body {
	background-color: #111;
}

a {
	color: #ddd;
}

.back a {
	text-decoration: none;
}

a:hover {
	color: #aaa;
}

.back {
	position: fixed;
	padding: 16px;
	top: 8px;
	left: 0;
}

.body {
	display: grid;
	grid-template-areas:	
		'header'
		'content'
		'footer';
	background-color: #111;
	line-height: 22px;
}

.header {
	grid-area: header;
	text-align: center;
	color: #eee;
	margin: 32px;
}

.content {
	grid-area: content;
	color: #eee;
	margin: 16px;
}

.content p {
	margin-bottom: 16px;
}

.links {
	margin: auto;
	display: flex;
}

.links a {
	text-decoration: none;
	margin: 16px;
}