@font-face {
	font-family: ComfortaaBold;
	src: url(../fonts/Comfortaa-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: ComfortaaBold, sans-serif;
	color: white;
	background: #111;
}

.header {
	margin: 32px;
}

.content {
	margin: 16px;
}

.content p {
	margin: 16px;
}