@font-face {
	font-family: ComfortaaBold;
	src: url(../fonts/Comfortaa-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: ComfortaaBold, sans-serif;
}

img {
	width: 20vh;
	border-radius: 100%;
}

@media screen and (min-width: 800px) {
	.body {
		width: 50vw;
		margin: auto;
		margin-top: 32px;
		border-radius: 16px;
		padding: 32px;
	}

	
	.header h1 {
		padding: 32px;
	}
}

@media screen and (orientation: portrait) {
	.body {
		/* width: 100vw; */
	}
}

body {
	background-color: #222;
}

a {
	color: #ddd;
	text-decoration: none;
}

.back {
	position: fixed;
	padding: 16px;
	top: 8px;
	left: 0;
	background-color: #444;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.body {
	display: grid;
	grid-template-areas:	
		'header'
		'content'
		'footer';
	background-color: #444;
	line-height: 22px;
}

.header {
	grid-area: header;
	text-align: center;
	color: #eee;
}

.content {
	grid-area: content;
	color: #eee;
}

.footer {
	grid-area: footer;
	text-align: center;
	color: #bbb;
	font-size: 12px;
	padding-top: 16px;
}