/* Patterns used: https://www.heropatterns.com/ */

@font-face {
    font-family: ComfortaaBold;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: ComfortaaBold, sans-serif;
}

body {
	display: grid;
	grid-template:
		'header'
		'body'
		'footer';
}

a {
	text-decoration: none;
}

.header, .footer {
	text-align: center;
	color: white;
	background-color: #111;
	background: linear-gradient(320deg,#181818, #111);
}

@media (orientation: landscape) {
	.header, .footer {
		line-height: 10vh;
		height: 10vh;
	}

	h1, h2 {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.content {
		display: grid;
		grid-template: 'about resume projects';
	}

	.content div {
		height: 80vh;
		line-height: 80vh;
	}

	.about {
		width: 33.4vw;
	}

	.resume {
		width: 33.3vw;
	}

	.projects {
		width: 33.3vw;
	}
}

@media (orientation: portrait) and (max-height: 650px) {
	.header, .footer {
		padding: 32px;
	}

	.about, .resume, .projects {
		padding: 64px;
	}

	.content {
		display: grid;
		grid-template:
			'about'
			'resume'
			'projects';
	}
}

@media (orientation: portrait) and (min-height: 650px) {
	.header, .footer {
		line-height: 11vh;
		height: 11vh;
	}

	h1, h2 {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.content {
		display: grid;
		grid-template:	'about'
						'resume'
						'projects';
	}

	.content div {
		height: 26vh;
		line-height: 26vh;
	}
}

.content div {
	text-align: center;
	color: white;
}


.about {
	background: linear-gradient(60deg, #3ae, #3dc);
}

.about h1 {
	animation: offHover .4s ease forwards;
}

.about:hover h1 {
	animation: onHover .4s ease forwards;
}


.resume {
	background: linear-gradient(60deg, #d77, #fb7);
}

.resume h1 {
	animation: offHover .4s ease forwards;
}

.resume:hover h1 {
	animation: onHover .4s ease forwards;
}


.projects {
	background: linear-gradient(60deg, #8d2, #dd0);
}

.projects h1 {
	animation: offHover .4s ease forwards;
}

.projects:hover h1 {
	animation: onHover .4s ease forwards;
}

@keyframes onHover {
	from {transform: scale(1)}
    to {transform: scale(1.05)}
}

@keyframes offHover {
	from {transform: scale(1.05)}
    to {transform: scale(1)}
}