@font-face {
	font-family: ComfortaaBold;
	src: url(../fonts/Comfortaa-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
    font-family: ComfortaaBold, sans-serif;
    text-align: center;
}

@media screen and (min-width: 400px) {
    p.spacer {
        line-height: 30vh;
        color: white;
    }
    
    p {
        font-size: 32px;
        vertical-align: bottom;
        line-height: 36px;
    }
    
    h1 {
        font-size: 128px;
    }
    
    .header {
        grid-area: header;
        height: 40vh;
    }
    
    .counter {
        grid-area: counter;
        height: 60vh;
    }
}

@media screen and (max-width: 400px) {
    p.spacer {
        line-height: 23vh;
        color: white;
    }
    
    p {
        font-size: 32px;
        vertical-align: bottom;
        line-height: 36px;
    }
    
    h1 {
        font-size: 128px;
    }
    
    .header {
        grid-area: header;
        height: 40vh;
    }
    
    .counter {
        grid-area: counter;
        height: 60vh;
    }
}

body {
    display: grid;
    grid-template-areas:
        'top'
        'header'
        'counter'
        'bottom';
}